In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# warnings.filterwarnings('ignore')

In [17]:
pd = pd.read_csv('/home/suraj/Desktop/myfirstmlproject/firstmlproject/notebook/stud.csv')

In [18]:
pd.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [20]:
pd.shape

(1000, 8)

Data checks to perform

1.missing values
2.duplicates
check data type
check the number of unique values of each column
check statistic of data set
check various categories present in the different categorical column

In [21]:
#check missing values

pd.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [23]:
#check duplicates

pd.duplicated().sum()

0

In [24]:
#check data types

pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [25]:
#checking the number of unique values of each column

pd.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [26]:
#check statistic of data

pd.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [29]:
#More EDA

print("categoris in 'gender' variable:      ",end="")
print (pd['gender'].unique())

print("categoris in 'race_ethnicity' variable:      ",end="")
print (pd['race_ethnicity'].unique())

print("categoris in 'parental_level_of_education' variable:      ",end="")
print (pd['parental_level_of_education'].unique())

print("categoris in 'lunch' variable:      ",end="")
print (pd['lunch'].unique())

print("categoris in 'test_preparation_course' variable:      ",end="")
print (pd['test_preparation_course'].unique())

categoris in 'gender' variable:      ['female' 'male']
categoris in 'race_ethnicity' variable:      ['group B' 'group C' 'group A' 'group D' 'group E']
categoris in 'parental_level_of_education' variable:      ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
categoris in 'lunch' variable:      ['standard' 'free/reduced']
categoris in 'test_preparation_course' variable:      ['none' 'completed']

In [32]:
# #define numerical and categorical features

# numeric_features= [feature for feature in pd.columns if pd[feature].dtype != '0']
# categorical_features = [feature for feature in pd.columns if pd[feature].dtype == '0']

# #print columns

# print('we have {} numerical features : {}' .format(len(numeric_features),numeric_features))
# print('\nwe have {} categorical features : {}' .format(len(categorical_features),categorical_features))

we have 8 numerical features : ['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course', 'math_score', 'reading_score', 'writing_score']

we have 0 categorical features : []

In [34]:
numeric_data = pd.select_dtypes(include=[np.number])
categorical_data = pd.select_dtypes(exclude=[np.number])

numeric_data.shape[1]
categorical_data.shape[1]

#print columns

print('we have {} numerical features : {}' .format(len(numeric_features),numeric_features))
print('\nwe have {} categorical features : {}' .format(len(categorical_features),categorical_features))

5